<h1 id="schema-installazione-server-magister">Schema installazione Server Magister</h1>
<h2 id="table-of-contents">Table of Contents</h2>
<ol style="list-style-type: decimal">
<li><a href="#Server-Applicazione-Magister">Server Applicazione Magister</a></li>
<li><a href="#Server-Api-REST">Server Api REST</a></li>
<li><a href="#Server-Report">Server Report</a></li>
<li><a href="#Server-Applicazione-Magister-Console">Server Applicazione Magister Console</a></li>
</ol>
<h2 id="server-applicazione">Server Applicazione</h2>
<p>Contiene l'applicazione Front- End di Magister ed è installato come sottosito di default web site e risponde all'indirizzo http://serverlenovo/magister</p>
<h3 id="fasi-preliminari-allutilizzo-dellapplicazione-di-front--end">Fasi preliminari all'utilizzo dell'applicazione di front- end</h3>
<p>Magister è una single page application realizzata in javascript e viene eseguita lato client. Per funzionare bisogna impostare nel local storage del browser (consigliato chrome) alcuni parametri:</p>
<p>Dopo essersi connessi dal browser alla pagina http://serverlenovo/magister bisogna , facendo click destro su un punto qualsiasi della pagina di login, selezionare la voce ispeziona.</p>
<p>Una volta aperto il developer tools di chrome selezionare la voce &quot;Application&quot; dal menu principale e impostare , su storage -&gt; localstorage -&gt; http://serverlenovo le seguenti chiavi :</p>
<table>
<thead>
<tr class="header">
<th align="left">Key</th>
<th align="left">Value</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td align="left">apiurl</td>
<td align="left">http://serverlenovo:8081/api/</td>
</tr>
<tr class="even">
<td align="left">reportServerApiUrl</td>
<td align="left">http://serverlenovo:8082/api/ReportApi</td>
</tr>
</tbody>
</table>
<h2 id="server-api-rest">Server Api REST</h2>
<p>Contiene la web api di back-end di Magister che provvede alla realizzazione di tutte le funzioni di accesso al database e allo storage dei dati.</p>
<p><strong>Configurazione:</strong></p>
<p>I dati di configurazione sono contenuti nel file &quot;appsettings.json&quot; contenuto nella directory virtuale che contiene le dll della web api di back-end (nel caso specifico sul serverlenovo nel percorso: &quot;C:&quot;).</p>
<pre class="sourceCode json"><code class="sourceCode json">{
  <span class="dt">&quot;SecurityKey&quot;</span>: <span class="st">&quot;dd%88*377f6d&amp;f£$$£$FdddFF33fssDG^!3&quot;</span>,
  <span class="dt">&quot;Logging&quot;</span>: {
    <span class="dt">&quot;IncludeScopes&quot;</span>: <span class="dv">false</span>,
    <span class="dt">&quot;Debug&quot;</span>: {
      <span class="dt">&quot;LogLevel&quot;</span>: {
        <span class="dt">&quot;Default&quot;</span>: <span class="st">&quot;Warning&quot;</span>
      }
    },
    <span class="dt">&quot;Console&quot;</span>: {
      <span class="dt">&quot;LogLevel&quot;</span>: {
        <span class="dt">&quot;Default&quot;</span>: <span class="st">&quot;Warning&quot;</span>
      }
    }
  },
  <span class="dt">&quot;ConnectionStrings&quot;</span>: {
    <span class="dt">&quot;ErpDbConnection&quot;</span>: <span class="st">&quot;Server=localhost\\SQLEXPRESS2017;database=magis;  MultipleActiveResultSets=True; Integrated Security=True;&quot;</span>,
    <span class="dt">&quot;SystemConnection&quot;</span>: <span class="st">&quot;Server=localhost\\SQLEXPRESS2017;database=magistersystem;  MultipleActiveResultSets=True; Integrated Security=True;&quot;</span>
  },
  <span class="dt">&quot;MagoNetSettings&quot;</span>: {
    <span class="dt">&quot;loginCompany&quot;</span>: <span class="st">&quot;nts&quot;</span>,
    <span class="dt">&quot;loginInstallationName&quot;</span>: <span class="st">&quot;magonet&quot;</span>,
    <span class="dt">&quot;loginPassword&quot;</span>: <span class="st">&quot;Gieffex3035&quot;</span>,
    <span class="dt">&quot;loginServerMago&quot;</span>: <span class="st">&quot;localhost&quot;</span>,
    <span class="dt">&quot;loginUsername&quot;</span>: <span class="st">&quot;sa&quot;</span>,
    <span class="dt">&quot;percorsoAllegati&quot;</span>: <span class="st">&quot;e:\\allegatints\\&quot;</span>,
    <span class="dt">&quot;reportServerApiUrl&quot;</span>: <span class="st">&quot;http://192.168.2.216:8089/api/ReportApi&quot;</span>,
    <span class="dt">&quot;schemaXsdBolleName&quot;</span>: <span class="st">&quot;\&quot;http://www.microarea.it/Schema/2004/Smart/ERP/Sales/DeliveryNotes/Standard/ddt.xsd\&quot;&quot;</span>
  }
}</code></pre>
<p>La sezione che ci interessa è la <strong>ConnectionStrings</strong> in cui sono da impostare i valori dei database <strong>ErpDbConnection</strong> che è il database contenente i dati gestionali e <strong>SystemConnection</strong> che è il database che contiene i dati di sistema (utenti, istituti e utenti per istituto)</p>
<h2 id="server-report">Server Report</h2>
<p>Contiene il servizio di gestione dei report che viene ospitato si iis nel sito &quot;MagisReportApi&quot; (C:).</p>
<p>Questa Web Api verrè interrogata dal front-end e si occuperà di acquisire i parametri del report, eseguirlo e renderlo visualizzabile nel front-end.</p>
<p><strong>Configurazione</strong></p>
<p>I dati di configurazione sono contenuti nel file xml web.config contenuto nella cartelle della web api (C:).</p>
<pre class="sourceCode xml"><code class="sourceCode xml"><span class="kw">&lt;?xml</span> version=&quot;1.0&quot; encoding=&quot;utf-8&quot;<span class="kw">?&gt;</span>
<span class="co">&lt;!--</span>
<span class="co">  For more information on how to configure your ASP.NET application, please visit</span>
<span class="co">  https://go.microsoft.com/fwlink/?LinkId=301879</span>
<span class="co">  --&gt;</span>
<span class="kw">&lt;configuration&gt;</span>
  <span class="kw">&lt;appSettings&gt;</span>
    <span class="kw">&lt;add</span><span class="ot"> key=</span><span class="st">&quot;dbuser&quot;</span><span class="ot"> value=</span><span class="st">&quot;sa&quot;</span> <span class="kw">/&gt;</span>
    <span class="kw">&lt;add</span><span class="ot"> key=</span><span class="st">&quot;dbpassword&quot;</span><span class="ot"> value=</span><span class="st">&quot;Gieffex3035&quot;</span> <span class="kw">/&gt;</span>
    <span class="kw">&lt;add</span><span class="ot"> key=</span><span class="st">&quot;dbconnectionstring&quot;</span><span class="ot"> value=</span><span class="st">&quot;Data Source=localhost\sqlexpress2017;Initial Catalog=Magis;&quot;</span> <span class="kw">/&gt;</span>
  <span class="kw">&lt;/appSettings&gt;</span>
  <span class="kw">&lt;system.web&gt;</span>
    <span class="kw">&lt;compilation</span><span class="ot"> targetFramework=</span><span class="st">&quot;4.5.2&quot;</span> <span class="kw">/&gt;</span>
    <span class="kw">&lt;httpRuntime</span><span class="ot"> targetFramework=</span><span class="st">&quot;4.5.2&quot;</span> <span class="kw">/&gt;</span>
  <span class="kw">&lt;/system.web&gt;</span>
  <span class="kw">&lt;system.webServer&gt;</span>
    <span class="kw">&lt;handlers&gt;</span>
      <span class="kw">&lt;remove</span><span class="ot"> name=</span><span class="st">&quot;ExtensionlessUrlHandler-Integrated-4.0&quot;</span> <span class="kw">/&gt;</span>
      <span class="kw">&lt;remove</span><span class="ot"> name=</span><span class="st">&quot;OPTIONSVerbHandler&quot;</span> <span class="kw">/&gt;</span>
      <span class="kw">&lt;remove</span><span class="ot"> name=</span><span class="st">&quot;TRACEVerbHandler&quot;</span> <span class="kw">/&gt;</span>
      <span class="kw">&lt;add</span><span class="ot"> name=</span><span class="st">&quot;ExtensionlessUrlHandler-Integrated-4.0&quot;</span><span class="ot"> path=</span><span class="st">&quot;*.&quot;</span><span class="ot"> verb=</span><span class="st">&quot;*&quot;</span><span class="ot"> type=</span><span class="st">&quot;System.Web.Handlers.TransferRequestHandler&quot;</span><span class="ot"> preCondition=</span><span class="st">&quot;integratedMode,runtimeVersionv4.0&quot;</span> <span class="kw">/&gt;</span>
    <span class="kw">&lt;/handlers&gt;</span>
        <span class="kw">&lt;directoryBrowse</span><span class="ot"> enabled=</span><span class="st">&quot;true&quot;</span> <span class="kw">/&gt;</span>
  <span class="kw">&lt;/system.webServer&gt;</span>
  <span class="kw">&lt;runtime&gt;</span>
    <span class="kw">&lt;assemblyBinding</span><span class="ot"> xmlns=</span><span class="st">&quot;urn:schemas-microsoft-com:asm.v1&quot;</span><span class="kw">&gt;</span>
      <span class="kw">&lt;dependentAssembly&gt;</span>
        <span class="kw">&lt;assemblyIdentity</span><span class="ot"> name=</span><span class="st">&quot;System.Web.Helpers&quot;</span><span class="ot"> publicKeyToken=</span><span class="st">&quot;31bf3856ad364e35&quot;</span> <span class="kw">/&gt;</span>
        <span class="kw">&lt;bindingRedirect</span><span class="ot"> oldVersion=</span><span class="st">&quot;1.0.0.0-3.0.0.0&quot;</span><span class="ot"> newVersion=</span><span class="st">&quot;3.0.0.0&quot;</span> <span class="kw">/&gt;</span>
      <span class="kw">&lt;/dependentAssembly&gt;</span>
      <span class="kw">&lt;dependentAssembly&gt;</span>
        <span class="kw">&lt;assemblyIdentity</span><span class="ot"> name=</span><span class="st">&quot;System.Web.Mvc&quot;</span><span class="ot"> publicKeyToken=</span><span class="st">&quot;31bf3856ad364e35&quot;</span> <span class="kw">/&gt;</span>
        <span class="kw">&lt;bindingRedirect</span><span class="ot"> oldVersion=</span><span class="st">&quot;1.0.0.0-5.2.3.0&quot;</span><span class="ot"> newVersion=</span><span class="st">&quot;5.2.3.0&quot;</span> <span class="kw">/&gt;</span>
      <span class="kw">&lt;/dependentAssembly&gt;</span>
      <span class="kw">&lt;dependentAssembly&gt;</span>
        <span class="kw">&lt;assemblyIdentity</span><span class="ot"> name=</span><span class="st">&quot;System.Web.WebPages&quot;</span><span class="ot"> publicKeyToken=</span><span class="st">&quot;31bf3856ad364e35&quot;</span> <span class="kw">/&gt;</span>
        <span class="kw">&lt;bindingRedirect</span><span class="ot"> oldVersion=</span><span class="st">&quot;1.0.0.0-3.0.0.0&quot;</span><span class="ot"> newVersion=</span><span class="st">&quot;3.0.0.0&quot;</span> <span class="kw">/&gt;</span>
      <span class="kw">&lt;/dependentAssembly&gt;</span>
    <span class="kw">&lt;/assemblyBinding&gt;</span>
  <span class="kw">&lt;/runtime&gt;</span>
  <span class="kw">&lt;system.codedom&gt;</span>
    <span class="kw">&lt;compilers&gt;</span>
      <span class="kw">&lt;compiler</span><span class="ot"> language=</span><span class="st">&quot;c#;cs;csharp&quot;</span><span class="ot"> extension=</span><span class="st">&quot;.cs&quot;</span><span class="ot"> type=</span><span class="st">&quot;Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35&quot;</span><span class="ot"> warningLevel=</span><span class="st">&quot;4&quot;</span><span class="ot"> compilerOptions=</span><span class="st">&quot;/langversion:6 /nowarn:1659;1699;1701&quot;</span> <span class="kw">/&gt;</span>
      <span class="kw">&lt;compiler</span><span class="ot"> language=</span><span class="st">&quot;vb;vbs;visualbasic;vbscript&quot;</span><span class="ot"> extension=</span><span class="st">&quot;.vb&quot;</span><span class="ot"> type=</span><span class="st">&quot;Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35&quot;</span><span class="ot"> warningLevel=</span><span class="st">&quot;4&quot;</span><span class="ot"> compilerOptions=</span><span class="st">&quot;/langversion:14 /nowarn:41008 /define:_MYTYPE=\</span><span class="dv">&amp;quot;</span><span class="st">Web\</span><span class="dv">&amp;quot;</span><span class="st"> /optionInfer+&quot;</span> <span class="kw">/&gt;</span>
    <span class="kw">&lt;/compilers&gt;</span>
  <span class="kw">&lt;/system.codedom&gt;</span>
<span class="kw">&lt;/configuration&gt;</span>
<span class="co">&lt;!--ProjectGuid: 64DB6043-DCA3-4F2A-8F32-AC704E146BAA--&gt;</span></code></pre>
<p>La sezione da impostare è quella in cui sono contenute le chiavi e i valori necessari alla connessione usata dai report per leggere i dati.</p>
<pre class="sourceCode xml"><code class="sourceCode xml">  <span class="kw">&lt;appSettings&gt;</span>
    <span class="kw">&lt;add</span><span class="ot"> key=</span><span class="st">&quot;dbuser&quot;</span><span class="ot"> value=</span><span class="st">&quot;sa&quot;</span> <span class="kw">/&gt;</span>
    <span class="kw">&lt;add</span><span class="ot"> key=</span><span class="st">&quot;dbpassword&quot;</span><span class="ot"> value=</span><span class="st">&quot;Gieffex3035&quot;</span> <span class="kw">/&gt;</span>
    <span class="kw">&lt;add</span><span class="ot"> key=</span><span class="st">&quot;dbconnectionstring&quot;</span><span class="ot"> value=</span><span class="st">&quot;Data Source=localhost\sqlexpress2017;Initial Catalog=Magis;&quot;</span> <span class="kw">/&gt;</span>
  <span class="kw">&lt;/appSettings&gt;</span></code></pre>
<h2 id="server-applicazione-magister-console">Server Applicazione Magister Console</h2>
<p>Applicazione web contenente le funzionalità di gestione Utenti, istituti ed utenti per istituto. Risiede nella cartella &quot;c:&quot; ed è accessibile solo al gruppo administrators del server. Il link è : http://serverlenovo/magisterconsole</p>
<p><strong>Configurazione</strong></p>
<p>I dati di configurazione vengono letti dal file appsettings.json</p>
<pre class="sourceCode json"><code class="sourceCode json">{
  <span class="dt">&quot;Logging&quot;</span>: {
    <span class="dt">&quot;LogLevel&quot;</span>: {
      <span class="dt">&quot;Default&quot;</span>: <span class="st">&quot;Information&quot;</span>,
      <span class="dt">&quot;Microsoft&quot;</span>: <span class="st">&quot;Warning&quot;</span>,
      <span class="dt">&quot;Microsoft.Hosting.Lifetime&quot;</span>: <span class="st">&quot;Information&quot;</span>
    }
  },
  <span class="dt">&quot;BackEndSettings&quot;</span>: {
    <span class="dt">&quot;Url&quot;</span>: <span class="st">&quot;http://localhost:8081&quot;</span>
  },
  <span class="dt">&quot;AllowedHosts&quot;</span>: <span class="st">&quot;*&quot;</span>
}</code></pre>
<p>La chiave da impostare è &quot;BackEndSettings&quot; e contiene l'url dell web api di back-end</p>
